:root {
    // accent
    --accent-beige-100: #F1EDEB;
    --accent-gray-600: #6C6972;
    --accent-primary-gray: #3B3B47;

    // surface
    --surface: #FFF;

    // text
    --text-default: #262633;
    --text-submenu: #73737B;

    // light
    --color-light-100: #fff;
    --color-light-200: #F2F2F3;
    --color-light-300: #E7E3E0;
    --color-light-400: #F4F4F4;

    // icon colors
    --icon-dark: var(--accent-primary-gray);

}
