@import "@/app/styles";

.navbarContainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: var(--text-default);
  height: 56px;
  background-color: var(--color-light-200);

  .navbarWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 664px;
    color: var(--text-default);
    height: 56px;
  }

  .navbarButton {
    text-transform: uppercase;
  }

  @include media-medium {
    display: none;
  }

}