@import "@/app/styles";

.benefitsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .subMenu {
    display: flex;
    justify-content: space-evenly;
    max-width: 320px;
    padding: 12px 0;
    width: 100%;
    .subMenu__item {
      display: flex;
      align-items: center;
      color: var(--text-default);
      &:focus { color: var(--surface);}
    }
  }

  .benefitsContainerWrapper{
    justify-content: space-between;
    padding: 80px 0;
    flex-wrap: wrap;
  }

  .leftSide {
    display: flex;
    flex-direction: column;
    width: 375px;
    row-gap: 16px;
  }

  .rightSide {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .rightSide__bulletsContainer {
      display: flex;
      flex-direction: column;
      > .bulletsPoint {
        display: flex;
        margin: 5px 0;
        width: 100%;
      }
    }
  }

  @include media-s-medium {
    .subMenu__item {
      font-size: var(--font-size-s);
    }
    .benefitsContainerWrapper {
      padding: 10px 20px;
    }
    .leftSide {
      width: initial;
    }
    .rightSide {
      margin: 5px 0;
    }
  }

}