@import "@/app/styles";

.calculatorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-beige-100);
  padding: 80px 0;

  .calculatorContainerContentWrapper {
    align-items: center;
    flex-direction: column;
    max-width: 780px;

    .headline {
      text-align: center;
      margin-bottom: 30px;
    }

    .calculatorCentrilizer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form {
        max-width: 456px;
        width: 100%;
      }

      .sum {
        margin: 32px 0;
      }

      .readTerms {
        margin: 8px 0 48px 0;
      }

      .fieldsLabels {
        display: flex;
        justify-content: space-between;
        max-width: 456px;
        width: 100%;
        margin-bottom: 10px;

        :nth-child(2) {
          margin-left: 15px;
        }
      }

      .formContentWrapper {
        display: flex;
        margin-bottom: 15px;

        .firstInput {
          margin-right: 30px;
        }

        input {
          border: 0;
          border-bottom: 1px solid #c6c4c7;
          padding-bottom: 5px;
        }

        .errorMessage {
          color: red;
          font-size: 12px;
          margin-top: 5px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        .errorMessage.active {
          opacity: 1;
        }
      }
      .errorMessage.active {
        opacity: 1;
      }

      .formBtns {
        display: flex;
        justify-content: space-between;
      }
    }

    @include media-small {
      padding: 0 20px;
    }
  }

  .disclaimer {
    text-align: center;
    max-width: 780px;
    color: #6c6972;
    font-size: var(--font-size-xxs);
    line-height: var(--line-height-xs);
  }
}
.errorMessage.active {
  opacity: 1;
}
