//vertical
.stepContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.stepItem {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}

.stepCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  background-color: var(--accent-beige-100);
  border-radius: 50%;
  border: 1px solid var(--text-default);

  .stepCirle__number {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-tiny);
    color: var(--text-default);
  }
}

.stepContent {
  display: flex;
  flex-grow: 1;
  flex-basis: 100px;
  flex-direction: column;
  .stepContent__title {
    margin-top: 20px;
  }

  .stepContent__text {
    margin-top: 8px;
  }

}

.stepLine {
  position: absolute;
  top: 80px;
  left: 40px;
  width: 1px;
  height: 100%;
  background-color: var(--text-default);
}
// horizontal
@media (min-width: 960px) {
  .stepContainer {
    flex-direction: row;
  }

  .stepItem {
    flex-direction: column;
  }

  .stepIcon {
    margin-bottom: 15px;
  }

  .stepLine {
    top: 40px;
    left: 80px;
    width: 100%;
    height: 1px;
  }
}
