@import "@/app/styles";

.stepContainerWrapper {
  flex-direction: column;
  row-gap: 20px;
  padding: 0;
  width: 100%;
  position: relative;

  .circle {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--text-default);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-default);
    font-size: 28px;
    font-weight: var(--font-weight-tiny);
  }
  .stick {
    position: absolute;
    height: 1px;
    width: 160px;
    background-color: var(--text-default);
    top: 40px;
    left: calc(50% + 50px);
    transform: translateX(-50%);
  }

  @include media-medium { // 1024
    .stick {
      width: 140px;
      left: calc(50% + 40px);
    }
  }

  @include media-s-medium { // 960
    .stick {
      width: 120px;
    }
  }

  @include media-small {
    .stick {
      width: 120px;
    }
  }
  @include media-extra-small {
    .stick {
      width: 100px;
    }
  }

  .stepContent {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 243px;

    .stepText {}
  }
}
