.wrapper {
  display: flex;
}

.title {
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--color-dark-100);
}

.trigger {
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  width: 100%;
  padding: 6px 12px;

  font-size: var(--font-size-xxs);
  font-weight: 400;
  line-height: var(--line-height-m);
  color: var(--text-default);

  background: none;
  border: none;
  border-radius: 2px;
  outline: unset;
}

.viewport {
  position: relative;
  left: 0;

  display: flex;
  flex-direction: column;

  border-radius: 2px;
}

.item {
  all: unset;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 5px;

  font-size: var(--font-size-m);
  font-weight: 400;
  line-height: var(--line-height-m);
  color: var(--text-default);
}

.item[data-highlighted] {
  outline: none;
  background-color: #d9d9d9;
}

.selectContent {
  position: relative;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
}

.icon,
.iconRotated {
  transition: 0.5s;
}

.iconRotated {
  transform: rotate(180deg);
}
