@import "../../../app/styles";

.introContainer {
  background-image: url('../../../../public/assets/bg/homepage-introduce-bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  @include media-small {
    .introContainer {
      min-height: 320px;
    }
    .introContainer_content {
      justify-content: center;
    }
    .introContainer__textWithBtns {
      display: flex;
      flex-direction: column;
    }
    .intro__mainText {
    }
  }

  .introContainer_content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
    line-height: var(--line-height-l);

    @include media-small {
      justify-content: center;
    }

    .introContainer__textWithBtns {
      @include media-small {
        display: flex;
        flex-direction: column;
      }
      :nth-child(2) {
        margin-top: 32px;
      }
      .intro__mainText {
        font-weight: var(--font-weight-tiny);
        color: var(--accent-primary-gray);

        @include media-medium {
          font-size: 2.25rem;
        }
        @include media-small {
          font-size: 2rem;
        }
      }
      .intro__btnWithIcon {
        font-weight: var(--font-weight-bold);
        margin-top: 16px;
        svg {
          margin-left: 5px;
          height: 16px;
        }
      }
    }

    .introContainer__square {
      position: relative;
      display: flex;
      justify-items: center;
      align-items: center;
      height: 400px;
      width: auto;

      > img {
        width: 100%;
        height: 100%;
      }

      .intro__squareText {
        color: var(--surface);
        padding: 0 0 0 50px;
        position: absolute;
        text-align: left;
        font-weight: var(--font-weight-bold);
        line-height: 62px;
        font-size: 72px;
      }
    }
  }
}
